apiVersion: v1
kind: Service
metadata:
  name: {{ include "rancher-devops-operator.fullname" . }}-metrics
  labels:
    {{- include "rancher-devops-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: metrics
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "rancher-devops-operator.selectorLabels" . | nindent 4 }}
